*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 400px;
    display: block;
    margin: 0 auto;
    
    box-shadow: 5px 10px 20px red inset;
    height: 500px;
    margin-top: 50px;
}
.inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  
}

.image-container {
    width: 100%;
    height: 60%;
    margin-bottom: 30px;
}

.image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.descritption-container {
    width: 100%;
    height: 40%;
text-align: center;
padding: 10px;
}
p {
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

button {
    margin: 30px;
    border: none;
    border-radius: 5px;
    background-color: black;
    
    padding: 10px 7px;
}

button a {
    text-decoration: none;
    color: antiquewhite;

}

button a:hover {
  color: gray;
}

@media (max-width:500px) {
    .main-container {
        width: 80%;
       
    }
    .inner-container {
        width: 100%;
    
      
    }
    
}
