body::before {
    display: block;
    content: '';
    height: 60px;
}

@media(min-width:768px) {
    .news-input {
        width: 50%;
    }
}

#portfolio a {
 text-decoration: none;
 color: orangered;
}

#portfolio a:hover {
    text-decoration:underline;
   }
